<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @owner.name %>, A New Reservation has been made.</h1>
    <p>A new reservation has been made at
    </p>
  </body>
</html>