<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  	<% @rest = @reservation.rest  %>
    <h1> A New Reservation has been made.</h1>
    <p>A new reservation has been made at <%= @reservation.rest.name %>. </p>
    <p> To view reservation, click <%= link_to "View Reservation", rest_reservations_url(@rest) %></p>
  </body>
</html>