
<div class="span12">
  <table class="table table-hover">
    <thead>
        <tr>
        <th>Restaurant</th>
        <th>Reservation Name</th>
        <th>Reservation Date</th>
        <th>Reservation Time</th>
      </tr>
    </thead>
    <tbody>
      <% @restaurants.each do |restaurant| %>
        <% restaurant.reservations.each do |reservation| %>
          <tr>
            <td><%= link_to restaurant.name, restaurant %></td>
              <td><%= link_to reservation.name, [restaurant, reservation] %></td>
              <td><%= reservation.date %></td>
              <td><%= reservation.time.strftime("%I:%M%p") %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>