<h2>About This Website</h2>

Build by <%= link_to "Budi Sugianto", "http://www.linkedin.com/in/mcbuddy" %>
using Ruby on Rails on <%= link_to "Startup Institute", "http://www.startupinstitute.com" %> New York Summer 2013