<div class="hero-unit">
  <div align="center">
    <div><h1>Welcome to Restaurant Reserver</h1></div>
    <p>This site still under construction</p>

    <h3>For the restaurant owner please
      <%= link_to "Login", new_owner_session_path %> or
      <%= link_to "Register", new_owner_registration_path %> </h3>
      </div>
    </div>
