<%- model_class = Static -%>
<div class="page-header">
  <h1><%=t '.title', :default => "About us" %></h1>
</div>

<dl class="dl-horizontal">
</dl>
<p>
We are Ruby on Rails developers at Startup Institute, NY!
</p>
