<h2>New reservation is received at <%= @reservation.restaurant.name %></h2>

<h3>Reservation Details:</h3>
<p>Email: <%= @reservation.email %></p>
<p>Phone: <%= @reservation.phone %></p>
<p>When: <%= @reservation.reservetime %></p>