<h1>RESTAURANTS</h1>

<% @restaurants.each do |restaurant| %>
<td><%= link_to restaurant.name, restaurant_path(restaurant) %></td>
<%= image_tag restaurant.image_url(:thumb).to_s %>

<% end %>

<td><%= link_to "new", new_restaurant_path %></td>
