// Place all the styles related to the page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    background-color: #F8CECE;
}

.navbar {
  .navbar-inner {
    background-color: #BD0101;
    font-family: 'Comic Sans MS', cursive, sans-serif;
  }
}

//.navbar .nav > li > a {
//  &.brand {
//    color: #color;
//  }
//}
//
//.btn-custom {
//  background-color: hsl(0, 100%, 35%) !important;
//  background-repeat: repeat-x;
//  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fe2d2d", endColorstr="#b20000");
//  background-image: -khtml-gradient(linear, left top, left bottom, from(#fe2d2d), to(#b20000));
//  background-image: -moz-linear-gradient(top, #fe2d2d, #b20000);
//  background-image: -ms-linear-gradient(top, #fe2d2d, #b20000);
//  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fe2d2d), color-stop(100%, #b20000));
//  background-image: -webkit-linear-gradient(top, #fe2d2d, #b20000);
//  background-image: -o-linear-gradient(top, #fe2d2d, #b20000);
//  background-image: linear-gradient(#fe2d2d, #b20000);
//  border-color: #b20000 #b20000 hsl(0, 100%, 29%);
//  color: #fff !important;
//  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.39);
//  -webkit-font-smoothing: antialiased;
//}


