<%= yield :scripts %>

<div class="footer-fixed-bottom" align="center">
    © 2013 Restaurant Reservester, Inc. All rights reserved.<br />
    Build by <%= link_to "Budi Sugianto", "http://www.linkedin.com/in/mcbuddy" %> using Ruby on Rails on Startup Institute Summer 2013
</div>

